---
import PlayListItemCard from "@/components/PlayListItemCard.astro";
import { Greeting } from "@/components/react/Greeting";
import Layout from "@/layouts/Layout.astro";
import { playlists } from "@/lib/data";
---

<Layout title="Spotify Clone">
  <div id="playlist-container" class="relative bg-green-600 transition-all duration-1000">
    <!-- <PageHeader/> -->

    <div class="relative z-10 px-6 pt-4">
      <Greeting client:visible />
      <div class="mt-6 flex flex-wrap gap-4">
        {playlists.map((playlist) => <PlayListItemCard playlist={playlist} />)}
      </div>
    </div>
    <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-800/80"></div>
  </div>
</Layout>
