---
import { Player } from "@/components/react/Player";
import { ViewTransitions } from "astro:transitions";
import AsideMenu from "../components/AsideMenu.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback="none" />
  </head>
  <body class="dark">
    <div id="app" class="relative h-screen gap-2 overflow-x-scroll p-2">
      <aside class="overflow-y-aut flex flex-col [grid-area:aside]">
        <AsideMenu />
      </aside>
      <main class="w-full overflow-y-auto rounded-lg bg-zinc-900 [grid-area:main]">
        <slot />
      </main>
      <footer class="h-[80px] [grid-area:player]">
        <Player client:load transition:persist transition:name="media-player" />
      </footer>
    </div>
    <style>
      #app {
        display: grid;
        grid-template-areas:
          "aside main main"
          "player player player";
        grid-template-columns: 350px auto;
        grid-template-rows: 1fr auto;
      }
    </style>
    <style is:global>
      html {
        font-family: "CircularStd", system-ui, sans-serif;
        background: #000000;
        color-scheme: dark light;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Book.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Black.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </body>
</html>
